In [35]:
 """"
    if ypu dont have the librarys  run thos lines in your termminal or cmd :
    pip install numpy
    pip install sklearn
    pip install pandas
    pip install pandas-datareader
    pip install matplotlib

    """"

SyntaxError: ignored

In [36]:
    import numpy as np
    import matplotlib.pyplot as plt
    import pandas as pd
    import pandas_datareader as PP
    import datetime as dt

    from sklearn.model_selection import train_test_split
    from sklearn.preprocessing import MinMaxScaler
    from sklearn.svm import SVR

In [37]:
    print("what currency you are intersted in ")
print("example: BTC,XRP,ETH")
Crypto_Currency = ""
#this is the var that we use to detect what is your crypto
Crypto_Currency=input(Crypto_Currency.upper())
print(Crypto_Currency)
print("what currency do you wanna convert to :")
print("ex:- EGP,USD")
aginst_currensy=""
#this is the var that we use to detect what is your phsical currency
aginst_currensy=input(aginst_currensy.upper())
print(aginst_currensy)
#we spsfay the tme that we need to collect 
Start=dt.datetime(2019,1,1)
#end tme is now to make module prediecting the next (ISA tab3n)
End=dt.datetime.now()

what currency you are intersted in
example: BTC,XRP,ETH
BTC
BTC
what currency do you wanna convert to :
ex:- EGP,USD
USD
USD

In [38]:
Data = pd.read_csv("BTC-USD.csv")

In [39]:
Data.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-12-21,46886.078125,49300.917969,46698.773438,48936.613281,48936.613281,27055803928
1,2021-12-22,48937.097656,49544.796875,48450.941406,48628.511719,48628.511719,24447979559
2,2021-12-23,48626.343750,51332.339844,48065.835938,50784.539063,50784.539063,28223878108
3,2021-12-24,50806.050781,51814.027344,50514.496094,50822.195313,50822.195313,24367912228
4,2021-12-25,50854.917969,51176.597656,50236.707031,50429.859375,50429.859375,19030650914

In [40]:
Data.isna().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [41]:
Data.dropna(inplace=True)

In [42]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 366 entries, 0 to 365
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       366 non-null    object
 1   Open       366 non-null    float64
 2   High       366 non-null    float64
 3   Low        366 non-null    float64
 4   Close      366 non-null    float64
 5   Adj Close  366 non-null    float64
 6   Volume     366 non-null    int64
dtypes: float64(5), int64(1), object(1)
memory usage: 22.9+ KB

In [43]:
df= Data

In [44]:
df.drop_duplicates()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-12-21,46886.078125,49300.917969,46698.773438,48936.613281,48936.613281,27055803928
1,2021-12-22,48937.097656,49544.796875,48450.941406,48628.511719,48628.511719,24447979559
2,2021-12-23,48626.343750,51332.339844,48065.835938,50784.539063,50784.539063,28223878108
3,2021-12-24,50806.050781,51814.027344,50514.496094,50822.195313,50822.195313,24367912228
4,2021-12-25,50854.917969,51176.597656,50236.707031,50429.859375,50429.859375,19030650914
...,...,...,...,...,...,...,...
361,2022-12-17,16646.982422,16800.589844,16614.029297,16795.091797,16795.091797,14463581825
362,2022-12-18,16795.609375,16815.386719,16697.820313,16757.976563,16757.976563,10924354698
363,2022-12-19,16759.041016,16807.527344,16398.136719,16439.679688,16439.679688,17221074814
364,2022-12-20,16441.787109,17012.984375,16427.867188,16906.304688,16906.304688,22722096615
365,2022-12-21,16905.384766,16913.148438,16798.441406,16884.724609,16884.724609,17572339712

In [45]:
Data.corr()

               Open      High       Low     Close  Adj Close    Volume
Open       1.000000  0.998299  0.997359  0.995207   0.995207 -0.129555
High       0.998299  1.000000  0.997040  0.997715   0.997715 -0.118739
Low        0.997359  0.997040  1.000000  0.997930   0.997930 -0.162012
Close      0.995207  0.997715  0.997930  1.000000   1.000000 -0.145488
Adj Close  0.995207  0.997715  0.997930  1.000000   1.000000 -0.145488
Volume    -0.129555 -0.118739 -0.162012 -0.145488  -0.145488  1.000000

In [46]:
df2=df

In [47]:
 df.drop(['Adj Close'] , 1 , inplace=True)

<ipython-input-47-dbfb8ffd2465>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df.drop(['Adj Close'] , 1 , inplace=True)

In [48]:
df

,Date,Open,High,Low,Close,Volume
0,2021-12-21,46886.078125,49300.917969,46698.773438,48936.613281,27055803928
1,2021-12-22,48937.097656,49544.796875,48450.941406,48628.511719,24447979559
2,2021-12-23,48626.343750,51332.339844,48065.835938,50784.539063,28223878108
3,2021-12-24,50806.050781,51814.027344,50514.496094,50822.195313,24367912228
4,2021-12-25,50854.917969,51176.597656,50236.707031,50429.859375,19030650914
...,...,...,...,...,...,...
361,2022-12-17,16646.982422,16800.589844,16614.029297,16795.091797,14463581825
362,2022-12-18,16795.609375,16815.386719,16697.820313,16757.976563,10924354698
363,2022-12-19,16759.041016,16807.527344,16398.136719,16439.679688,17221074814
364,2022-12-20,16441.787109,17012.984375,16427.867188,16906.304688,22722096615
365,2022-12-21,16905.384766,16913.148438,16798.441406,16884.724609,17572339712

In [49]:
df.corr()

            Open      High       Low     Close    Volume
Open    1.000000  0.998299  0.997359  0.995207 -0.129555
High    0.998299  1.000000  0.997040  0.997715 -0.118739
Low     0.997359  0.997040  1.000000  0.997930 -0.162012
Close   0.995207  0.997715  0.997930  1.000000 -0.145488
Volume -0.129555 -0.118739 -0.162012 -0.145488  1.000000

In [50]:
df2

,Date,Open,High,Low,Close,Volume
0,2021-12-21,46886.078125,49300.917969,46698.773438,48936.613281,27055803928
1,2021-12-22,48937.097656,49544.796875,48450.941406,48628.511719,24447979559
2,2021-12-23,48626.343750,51332.339844,48065.835938,50784.539063,28223878108
3,2021-12-24,50806.050781,51814.027344,50514.496094,50822.195313,24367912228
4,2021-12-25,50854.917969,51176.597656,50236.707031,50429.859375,19030650914
...,...,...,...,...,...,...
361,2022-12-17,16646.982422,16800.589844,16614.029297,16795.091797,14463581825
362,2022-12-18,16795.609375,16815.386719,16697.820313,16757.976563,10924354698
363,2022-12-19,16759.041016,16807.527344,16398.136719,16439.679688,17221074814
364,2022-12-20,16441.787109,17012.984375,16427.867188,16906.304688,22722096615
365,2022-12-21,16905.384766,16913.148438,16798.441406,16884.724609,17572339712

In [51]:
df2.drop(['Low','Open','Volume'],1,inplace=True)

<ipython-input-51-bb337ec5873e>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df2.drop(['Low','Open','Volume'],1,inplace=True)

In [52]:
df

           Date          High         Close
0    2021-12-21  49300.917969  48936.613281
1    2021-12-22  49544.796875  48628.511719
2    2021-12-23  51332.339844  50784.539063
3    2021-12-24  51814.027344  50822.195313
4    2021-12-25  51176.597656  50429.859375
..          ...           ...           ...
361  2022-12-17  16800.589844  16795.091797
362  2022-12-18  16815.386719  16757.976563
363  2022-12-19  16807.527344  16439.679688
364  2022-12-20  17012.984375  16906.304688
365  2022-12-21  16913.148438  16884.724609

[366 rows x 3 columns]

In [53]:
df.corr()

           High     Close
High   1.000000  0.997715
Close  0.997715  1.000000

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 366 entries, 0 to 365
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    366 non-null    object
 1   High    366 non-null    float64
 2   Close   366 non-null    float64
dtypes: float64(2), object(1)
memory usage: 11.4+ KB

In [55]:
 print("Enter number of predicted days")
 Prediction_Days = int(input())

Enter number of predicted days
30

In [56]:
df['Prediction_Close'] = df['Close'].shift(-Prediction_Days)

In [57]:
df

           Date          High         Close  Prediction_Close
0    2021-12-21  49300.917969  48936.613281      40680.417969
1    2021-12-22  49544.796875  48628.511719      36457.316406
2    2021-12-23  51332.339844  50784.539063      35030.250000
3    2021-12-24  51814.027344  50822.195313      36276.804688
4    2021-12-25  51176.597656  50429.859375      36654.328125
..          ...           ...           ...               ...
361  2022-12-17  16800.589844  16795.091797               NaN
362  2022-12-18  16815.386719  16757.976563               NaN
363  2022-12-19  16807.527344  16439.679688               NaN
364  2022-12-20  17012.984375  16906.304688               NaN
365  2022-12-21  16913.148438  16884.724609               NaN

[366 rows x 4 columns]

In [58]:
    #crate indebendetn data set
    #covert df to np array and drop predection column 
    X = np.array(df.drop(['Prediction_Close'],1))
    #remove the last 'n' rows where 'n' is the Prediction days
    X= X[:len(df)-Prediction_Days]

    print(X)

[['2021-12-21' 49300.917969 48936.613281]
 ['2021-12-22' 49544.796875 48628.511719]
 ['2021-12-23' 51332.339844 50784.539063]
 ...
 ['2022-11-19' 16797.876953 16711.546875]
 ['2022-11-20' 16746.779297 16291.832031]
 ['2022-11-21' 16291.223633 15787.28418]]

<ipython-input-58-680de09590e8>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X = np.array(df.drop(['Prediction_Close'],1))

In [59]:
 #create the debndant data set 

    #convert the df to np array 
Y = np.array(df['Prediction_Close'])
    #get all of the val exept the last 'n' rpws
Y=Y[:-Prediction_Days]

In [60]:
Y

array([40680.417969, 36457.316406, 35030.25    , 36276.804688,
       36654.328125, 36954.003906, 36852.121094, 37138.234375,
       37784.332031, 38138.179688, 37917.601563, 38483.125   ,
       38743.273438, 36952.984375, 37154.601563, 41500.875   ,
       41441.164063, 42412.433594, 43840.285156, 44118.445313,
       44338.796875, 43565.113281, 42407.9375  , 42244.46875 ,
       42197.515625, 42586.917969, 44575.203125, 43961.859375,
       40538.011719, 40030.976563, 40122.15625 , 38431.378906,
       37075.28125 , 38286.027344, 37296.570313, 38332.609375,
       39214.21875 , 39105.148438, 37709.785156, 43193.234375,
       44354.636719, 43924.117188, 42451.789063, 39137.605469,
       39400.585938, 38419.984375, 38062.039063, 38737.269531,
       41982.925781, 39437.460938, 38794.972656, 38904.011719,
       37849.664063, 39666.753906, 39338.785156, 41143.929688,
       40951.378906, 41801.15625 , 42190.652344, 41247.824219,
       41077.996094, 42358.808594, 42892.957031, 43960.933594,
       44348.730469, 44500.828125, 46820.492188, 47128.003906,
       47465.730469, 47062.664063, 45538.675781, 46281.644531,
       45868.949219, 46453.566406, 46622.675781, 45555.992188,
       43206.738281, 43503.847656, 42287.664063, 42782.136719,
       42207.671875, 39521.902344, 40127.183594, 41166.730469,
       39935.515625, 40553.464844, 40424.484375, 39716.953125,
       40826.214844, 41502.75    , 41374.378906, 40527.363281,
       39740.320313, 39486.730469, 39469.292969, 40458.308594,
       38117.460938, 39241.121094, 39773.828125, 38609.824219,
       37714.875   , 38469.09375 , 38529.328125, 37750.453125,
       39698.371094, 36575.140625, 36040.921875, 35501.953125,
       34059.265625, 30296.953125, 31022.90625 , 28936.355469,
       29047.751953, 29283.103516, 30101.265625, 31305.113281,
       29862.917969, 30425.857422, 28720.271484, 30314.333984,
       29200.740234, 29432.226563, 30323.722656, 29098.910156,
       29655.585938, 29562.361328, 29267.224609, 28627.574219,
       28814.900391, 29445.957031, 31726.390625, 31792.310547,
       29799.080078, 30467.488281, 29704.390625, 29832.914063,
       29906.662109, 31370.671875, 31155.478516, 30214.355469,
       30111.998047, 29083.804688, 28360.810547, 26762.648438,
       22487.388672, 22206.792969, 22572.839844, 20381.650391,
       20471.482422, 19017.642578, 20553.271484, 20599.537109,
       20710.597656, 19987.029297, 21085.876953, 21231.65625 ,
       21502.337891, 21027.294922, 20735.478516, 20280.634766,
       20104.023438, 19784.726563, 19269.367188, 19242.255859,
       19297.076172, 20231.261719, 20190.115234, 20548.246094,
       21637.587891, 21731.117188, 21592.207031, 20860.449219,
       19970.556641, 19323.914063, 20212.074219, 20569.919922,
       20836.328125, 21190.316406, 20779.34375 , 22485.689453,
       23389.433594, 23231.732422, 23164.628906, 22714.978516,
       22465.478516, 22609.164063, 21361.701172, 21239.753906,
       22930.548828, 23843.886719, 23804.632813, 23656.207031,
       23336.896484, 23314.199219, 22978.117188, 22846.507813,
       22630.957031, 23289.314453, 22961.279297, 23175.890625,
       23809.486328, 23164.318359, 23947.642578, 23957.529297,
       24402.818359, 24424.068359, 24319.333984, 24136.972656,
       23883.291016, 23335.998047, 23212.738281, 20877.552734,
       21166.060547, 21534.121094, 21398.908203, 21528.087891,
       21395.019531, 21600.904297, 20260.019531, 20041.738281,
       19616.814453, 20297.994141, 19796.808594, 20049.763672,
       20127.140625, 19969.771484, 19832.087891, 19986.712891,
       19812.371094, 18837.667969, 19290.324219, 19329.833984,
       21381.152344, 21680.539063, 21769.255859, 22370.449219,
       20296.707031, 20241.089844, 19701.210938, 19772.583984,
       20127.576172, 19419.505859, 19544.128906, 18890.789063,
       18547.400391, 19413.550781, 19297.638672, 18937.011719,
       18802.097656, 19222.671875, 19110.546875, 19426.720703,
       19573.050781, 19431.789063, 19312.095703, 19044.107422,
       19623.580078, 20336.84375 , 20160.716797, 19955.443359,
       19546.849609, 19416.568359, 19446.425781, 19141.484375,
       19051.417969, 19157.445313, 19382.904297, 19185.65625 ,
       19067.634766, 19268.09375 , 19550.757813, 19334.416016,
       19139.535156, 19053.740234, 19172.46875 , 19208.189453,
       19567.007813, 19345.572266, 20095.857422, 20770.441406,
       20285.835938, 20595.351563, 20818.476563, 20635.603516,
       20495.773438, 20485.273438, 20159.503906, 20209.988281,
       21147.230469, 21282.691406, 20926.486328, 20602.816406,
       18541.271484, 15880.780273, 17586.771484, 17034.292969,
       16799.185547, 16353.365234, 16618.199219, 16884.613281,
       16669.439453, 16687.517578, 16697.777344, 16711.546875,
       16291.832031, 15787.28418 , 16189.769531, 16610.707031,
       16604.464844, 16521.841797, 16464.28125 , 16444.626953,
       16217.322266, 16444.982422, 17168.566406, 16967.132813,
       17088.660156, 16908.236328, 17130.486328, 16974.826172,
       17089.503906, 16848.126953, 17233.474609, 17133.152344,
       17128.724609, 17104.193359, 17206.4375  , 17781.318359,
       17815.650391, 17364.865234, 16647.484375, 16795.091797,
       16757.976563, 16439.679688, 16906.304688, 16884.724609])

In [61]:
 #split the data into 80% traning andd 20% testing
x_train, x_test, y_train, y_test =train_test_split(X,Y, test_size=0.2)

In [62]:
x_train

array([['2022-04-26', 40713.890625, 38117.460938],
       ['2022-10-01', 19471.154297, 19312.095703],
       ['2022-10-16', 19389.603516, 19268.09375],
       ['2022-09-07', 19427.171875, 19290.324219],
       ['2022-06-02', 30604.734375, 30467.488281],
       ['2022-04-13', 41430.054688, 41166.730469],
       ['2022-08-24', 21783.076172, 21395.019531],
       ['2022-11-09', 18590.458984, 15880.780273],
       ['2022-09-26', 19274.873047, 19222.671875],
       ['2022-10-18', 19666.994141, 19334.416016],
       ['2022-09-21', 19674.630859, 18547.400391],
       ['2022-03-24', 44131.855469, 43960.933594],
       ['2022-10-24', 19589.125, 19345.572266],
       ['2022-04-17', 40570.726563, 39716.953125],
       ['2022-01-24', 37247.519531, 36654.328125],
       ['2022-08-26', 21804.908203, 20260.019531],
       ['2022-06-28', 21164.423828, 20280.634766],
       ['2022-02-27', 39778.941406, 37709.785156],
       ['2022-02-02', 38834.617188, 36952.984375],
       ['2022-02-03', 37154.601563, 37154.601563],
       ['2022-04-01', 46616.242188, 46281.644531],
       ['2022-06-26', 21783.724609, 21027.294922],
       ['2022-08-31', 20420.990234, 20049.763672],
       ['2021-12-26', 51196.378906, 50809.515625],
       ['2022-08-28', 20139.054688, 19616.814453],
       ['2022-08-27', 20340.775391, 20041.738281],
       ['2022-05-13', 30924.802734, 29283.103516],
       ['2021-12-31', 48472.527344, 46306.445313],
       ['2022-04-10', 43376.378906, 42207.671875],
       ['2022-09-04', 19999.689453, 19986.712891],
       ['2022-04-08', 43903.019531, 42287.664063],
       ['2022-08-02', 23415.041016, 22978.117188],
       ['2022-09-29', 19589.265625, 19573.050781],
       ['2021-12-23', 51332.339844, 50784.539063],
       ['2022-06-09', 30609.310547, 30111.998047],
       ['2022-06-17', 21243.3125, 20471.482422],
       ['2022-04-18', 40986.320313, 40826.214844],
       ['2022-04-02', 47028.28125, 45868.949219],
       ['2022-01-23', 36433.3125, 36276.804688],
       ['2021-12-29', 48119.742188, 46444.710938],
       ['2022-02-06', 42500.785156, 42412.433594],
       ['2022-08-08', 24203.689453, 23809.486328],
       ['2022-10-11', 19241.960938, 19051.417969],
       ['2022-09-28', 19688.34375, 19426.720703],
       ['2022-03-11', 40081.679688, 38794.972656],
       ['2022-01-30', 38266.339844, 37917.601563],
       ['2022-09-18', 20127.234375, 19419.505859],
       ['2022-03-01', 44793.601563, 44354.636719],
       ['2022-10-10', 19515.466797, 19141.484375],
       ['2022-01-29', 38576.261719, 38138.179688],
       ['2022-05-05', 39789.28125, 36575.140625],
       ['2022-01-21', 41060.527344, 36457.316406],
       ['2022-06-07', 31489.683594, 31155.478516],
       ['2022-08-20', 21350.806641, 21166.060547],
       ['2022-03-17', 41287.535156, 40951.378906],
       ['2022-05-23', 30590.585938, 29098.910156],
       ['2022-02-25', 39630.324219, 39214.21875],
       ['2022-09-10', 21760.275391, 21680.539063],
       ['2022-04-07', 43860.699219, 43503.847656],
       ['2021-12-28', 50679.859375, 47588.855469],
       ['2022-08-03', 23578.650391, 22846.507813],
       ['2022-01-05', 46929.046875, 43569.003906],
       ['2022-01-19', 42478.304688, 41744.328125],
       ['2022-05-27', 29346.943359, 28627.574219],
       ['2022-02-15', 44667.21875, 44575.203125],
       ['2022-08-21', 21668.845703, 21534.121094],
       ['2022-04-19', 41672.960938, 41502.75],
       ['2022-07-27', 22986.529297, 22930.548828],
       ['2022-01-03', 47510.726563, 46458.117188],
       ['2022-08-22', 21531.462891, 21398.908203],
       ['2022-10-05', 20343.748047, 20160.716797],
       ['2022-09-02', 20401.568359, 19969.771484],
       ['2022-06-04', 29930.564453, 29832.914063],
       ['2022-06-24', 21472.917969, 21231.65625],
       ['2022-03-31', 47512.027344, 45538.675781],
       ['2022-07-05', 20635.466797, 20190.115234],
       ['2022-08-15', 25135.589844, 24136.972656],
       ['2021-12-22', 49544.796875, 48628.511719],
       ['2022-10-03', 19653.542969, 19623.580078],
       ['2022-11-17', 16726.439453, 16687.517578],
       ['2022-03-03', 44021.578125, 42451.789063],
       ['2022-09-20', 19602.457031, 18890.789063],
       ['2022-07-06', 20595.529297, 20548.246094],
       ['2022-11-14', 17109.324219, 16618.199219],
       ['2022-03-21', 41454.410156, 41077.996094],
       ['2022-05-25', 30157.785156, 29562.361328],
       ['2022-10-28', 20724.980469, 20595.351563],
       ['2022-07-09', 21877.138672, 21592.207031],
       ['2022-05-22', 30425.861328, 30323.722656],
       ['2022-05-19', 30430.751953, 30314.333984],
       ['2022-09-19', 19639.480469, 19544.128906],
       ['2022-11-05', 21446.886719, 21282.691406],
       ['2022-08-09', 23898.615234, 23164.318359],
       ['2022-07-25', 22649.121094, 21361.701172],
       ['2022-10-31', 20795.320313, 20495.773438],
       ['2022-07-15', 21138.244141, 20836.328125],
       ['2022-06-14', 23018.951172, 22206.792969],
       ['2022-08-17', 24407.058594, 23335.998047],
       ['2022-02-21', 39394.4375, 37075.28125],
       ['2022-07-18', 22633.033203, 22485.689453],
       ['2022-06-18', 20736.041016, 19017.642578],
       ['2022-04-25', 40491.753906, 40458.308594],
       ['2022-11-08', 20664.607422, 18541.271484],
       ['2022-10-08', 19601.695313, 19416.568359],
       ['2022-05-30', 31949.630859, 31726.390625],
       ['2022-08-13', 24860.050781, 24424.068359],
       ['2022-07-31', 24121.642578, 23336.896484],
       ['2022-11-12', 17066.675781, 16799.185547],
       ['2022-01-12', 44135.367188, 43949.101563],
       ['2022-11-18', 16947.058594, 16697.777344],
       ['2022-06-11', 29401.916016, 28360.810547],
       ['2022-01-02', 47881.40625, 47345.21875],
       ['2022-02-11', 43810.832031, 42407.9375],
       ['2022-06-08', 31253.691406, 30214.355469],
       ['2022-04-14', 41451.480469, 39935.515625],
       ['2022-08-30', 20542.644531, 19796.808594],
       ['2022-07-12', 20043.445313, 19323.914063],
       ['2022-10-27', 20854.044922, 20285.835938],
       ['2022-08-04', 23198.009766, 22630.957031],
       ['2022-07-07', 21771.816406, 21637.587891],
       ['2022-01-09', 42663.949219, 41911.601563],
       ['2022-05-06', 36624.359375, 36040.921875],
       ['2022-05-29', 29498.009766, 29445.957031],
       ['2022-01-11', 43001.15625, 42735.855469],
       ['2022-11-20', 16746.779297, 16291.832031],
       ['2022-10-14', 19889.146484, 19185.65625],
       ['2022-03-06', 39640.175781, 38419.984375],
       ['2022-09-14', 20467.201172, 20241.089844],
       ['2022-10-06', 20408.392578, 19955.443359],
       ['2022-09-12', 22439.181641, 22370.449219],
       ['2022-03-12', 39308.597656, 38904.011719],
       ['2022-03-02', 45077.578125, 43924.117188],
       ['2022-08-29', 20357.462891, 20297.994141],
       ['2022-09-03', 20037.009766, 19832.087891],
       ['2022-06-23', 21135.761719, 21085.876953],
       ['2022-10-20', 19315.199219, 19053.740234],
       ['2022-01-10', 42199.484375, 41821.261719],
       ['2022-01-25', 37444.570313, 36954.003906],
       ['2022-08-14', 24974.914063, 24319.333984],
       ['2022-02-13', 42693.054688, 42197.515625],
       ['2022-07-29', 24294.787109, 23804.632813],
       ['2021-12-21', 49300.917969, 48936.613281],
       ['2022-08-23', 21646.203125, 21528.087891],
       ['2022-10-07', 20041.085938, 19546.849609],
       ['2022-09-24', 19310.197266, 18937.011719],
       ['2022-09-22', 19456.910156, 19413.550781],
       ['2022-04-16', 40633.679688, 40424.484375],
       ['2022-07-14', 20789.894531, 20569.919922],
       ['2022-05-01', 38627.859375, 38469.09375],
       ['2022-01-08', 42228.941406, 41733.941406],
       ['2022-02-22', 38359.855469, 38286.027344],
       ['2022-10-02', 19370.308594, 19044.107422],
       ['2022-03-10', 42004.726563, 39437.460938],
       ['2022-07-20', 24196.818359, 23231.732422],
       ['2022-05-08', 35502.941406, 34059.265625],
       ['2022-07-22', 23671.927734, 22714.978516],
       ['2022-06-22', 20835.75, 19987.029297],
       ['2022-04-23', 39935.859375, 39486.730469],
       ['2022-03-25', 44999.492188, 44348.730469],
       ['2022-05-17', 30694.490234, 30425.857422],
       ['2022-06-29', 20364.15625, 20104.023438],
       ['2022-06-05', 30117.744141, 29906.662109],
       ['2022-05-11', 32013.402344, 28936.355469],
       ['2022-08-05', 23422.828125, 23289.314453],
       ['2022-09-06', 20155.269531, 18837.667969],
       ['2022-02-10', 45661.171875, 43565.113281],
       ['2022-04-27', 39397.917969, 39241.121094],
       ['2022-06-30', 20141.160156, 19784.726563],
       ['2022-08-06', 23326.5625, 22961.279297],
       ['2022-03-16', 41465.453125, 41143.929688],
       ['2022-03-15', 39794.628906, 39338.785156],
       ['2022-01-20', 43413.023438, 40680.417969],
       ['2022-03-28', 48086.835938, 47128.003906],
       ['2022-06-12', 28502.685547, 26762.648438],
       ['2022-05-21', 29588.869141, 29432.226563],
       ['2022-07-02', 19371.748047, 19242.255859],
       ['2022-02-09', 44727.800781, 44338.796875],
       ['2022-04-15', 40617.722656, 40553.464844],
       ['2022-09-16', 19870.628906, 19772.583984],
       ['2022-11-16', 16960.294922, 16669.439453],
       ['2022-06-01', 31957.285156, 29799.080078],
       ['2022-07-10', 21591.080078, 20860.449219],
       ['2022-04-29', 39887.269531, 38609.824219],
       ['2022-09-11', 21770.552734, 21769.255859],
       ['2022-07-28', 24110.470703, 23843.886719],
       ['2022-11-03', 20382.095703, 20209.988281],
       ['2022-10-13', 19453.328125, 19382.904297],
       ['2022-04-30', 38771.210938, 37714.875],
       ['2022-01-26', 38825.410156, 36852.121094],
       ['2022-03-19', 42316.554688, 42190.652344],
       ['2022-07-21', 23388.322266, 23164.628906],
       ['2022-11-07', 21053.246094, 20602.816406],
       ['2022-02-19', 40418.878906, 40122.15625],
       ['2022-05-15', 31308.191406, 31305.113281],
       ['2022-06-13', 26795.589844, 22487.388672],
       ['2022-11-19', 16797.876953, 16711.546875],
       ['2022-04-05', 47106.140625, 45555.992188],
       ['2022-11-01', 20647.289063, 20485.273438],
       ['2022-01-17', 43179.390625, 42250.550781],
       ['2022-11-21', 16291.223633, 15787.28418],
       ['2022-02-12', 42992.550781, 42244.46875],
       ['2022-04-06', 45544.355469, 43206.738281],
       ['2022-01-28', 37952.878906, 37784.332031],
       ['2022-05-28', 28814.900391, 28814.900391],
       ['2022-03-09', 42465.671875, 41982.925781],
       ['2022-09-09', 21439.410156, 21381.152344],
       ['2022-03-18', 42195.746094, 41801.15625],
       ['2022-09-01', 20198.390625, 20127.140625],
       ['2022-02-04', 41527.785156, 41500.875],
       ['2022-07-26', 21361.121094, 21239.753906],
       ['2022-03-05', 39566.335938, 39400.585938],
       ['2022-08-01', 23464.787109, 23314.199219],
       ['2022-07-01', 20632.671875, 19269.367188],
       ['2022-01-04', 47406.546875, 45897.574219],
       ['2022-05-18', 30618.716797, 28720.271484],
       ['2022-02-05', 41847.164063, 41441.164063],
       ['2022-06-15', 22642.671875, 22572.839844],
       ['2022-04-12', 40617.585938, 40127.183594],
       ['2022-04-11', 42424.589844, 39521.902344],
       ['2022-10-29', 20988.394531, 20818.476563],
       ['2022-07-19', 23666.962891, 23389.433594],
       ['2022-10-19', 19348.416016, 19139.535156],
       ['2022-05-04', 39902.949219, 39698.371094],
       ['2022-02-24', 38968.839844, 38332.609375],
       ['2022-08-10', 24127.414063, 23947.642578],
       ['2022-04-21', 42893.582031, 40527.363281],
       ['2022-04-20', 42126.300781, 41374.378906],
       ['2022-10-12', 19203.199219, 19157.445313],
       ['2022-07-24', 22974.001953, 22609.164063],
       ['2022-10-25', 20348.412109, 20095.857422],
       ['2022-07-11', 20856.353516, 19970.556641],
       ['2022-05-07', 36129.925781, 35501.953125],
       ['2022-09-23', 19464.671875, 19297.638672],
       ['2022-07-08', 22314.941406, 21731.117188],
       ['2022-07-23', 22977.210938, 22465.478516],
       ['2022-03-27', 46827.546875, 46820.492188],
       ['2022-10-30', 20917.005859, 20635.603516],
       ['2022-08-19', 23213.3125, 20877.552734],
       ['2022-01-18', 42534.402344, 42375.632813],
       ['2022-10-04', 20380.34375, 20336.84375],
       ['2022-07-16', 21514.404297, 21190.316406],
       ['2022-08-25', 21789.636719, 21600.904297],
       ['2022-03-04', 42479.613281, 39137.605469],
       ['2022-02-18', 40929.152344, 40030.976563],
       ['2022-08-12', 24412.566406, 24402.818359],
       ['2022-06-10', 30245.808594, 29083.804688],
       ['2022-04-28', 40269.464844, 39773.828125],
       ['2022-11-02', 20742.810547, 20159.503906],
       ['2021-12-25', 51176.597656, 50429.859375],
       ['2021-12-27', 51956.328125, 50640.417969],
       ['2022-06-27', 21478.089844, 20735.478516],
       ['2022-06-06', 31693.291016, 31370.671875],
       ['2022-03-26', 44735.996094, 44500.828125],
       ['2022-11-06', 21345.376953, 20926.486328],
       ['2022-06-03', 30633.035156, 29704.390625],
       ['2022-11-10', 18054.3125, 17586.771484],
       ['2022-11-15', 17051.962891, 16884.613281],
       ['2022-03-20', 42241.164063, 41247.824219],
       ['2022-02-17', 44132.972656, 40538.011719],
       ['2022-01-15', 43724.671875, 43177.398438],
       ['2022-01-22', 36688.8125, 35030.25],
       ['2022-10-26', 20938.134766, 20770.441406],
       ['2022-05-20', 30664.976563, 29200.740234],
       ['2022-11-13', 16920.765625, 16353.365234],
       ['2022-02-08', 45293.867188, 44118.445313],
       ['2022-09-25', 19134.732422, 18802.097656],
       ['2022-08-07', 23359.009766, 23175.890625],
       ['2022-01-16', 43436.808594, 43113.878906]], dtype=object)

In [63]:
Prediction_Days_Array = np.array(df.drop(['Prediction_Close'],1))[-Prediction_Days:]
print(Prediction_Days_Array)

[['2022-11-22' 16253.047852 16189.769531]
 ['2022-11-23' 16638.193359 16610.707031]
 ['2022-11-24' 16771.474609 16604.464844]
 ['2022-11-25' 16603.316406 16521.841797]
 ['2022-11-26' 16666.863281 16464.28125]
 ['2022-11-27' 16594.40625 16444.626953]
 ['2022-11-28' 16482.933594 16217.322266]
 ['2022-11-29' 16522.257813 16444.982422]
 ['2022-11-30' 17190.9375 17168.566406]
 ['2022-12-01' 17197.498047 16967.132813]
 ['2022-12-02' 17088.660156 17088.660156]
 ['2022-12-03' 17116.041016 16908.236328]
 ['2022-12-04' 17157.767578 17130.486328]
 ['2022-12-05' 17378.152344 16974.826172]
 ['2022-12-06' 17091.863281 17089.503906]
 ['2022-12-07' 17109.376953 16848.126953]
 ['2022-12-08' 17267.916016 17233.474609]
 ['2022-12-09' 17280.546875 17133.152344]
 ['2022-12-10' 17216.826172 17128.724609]
 ['2022-12-11' 17245.634766 17104.193359]
 ['2022-12-12' 17212.564453 17206.4375]
 ['2022-12-13' 17930.085938 17781.318359]
 ['2022-12-14' 18318.53125 17815.650391]
 ['2022-12-15' 17846.744141 17364.865234]
 ['2022-12-16' 17505.525391 16647.484375]
 ['2022-12-17' 16800.589844 16795.091797]
 ['2022-12-18' 16815.386719 16757.976563]
 ['2022-12-19' 16807.527344 16439.679688]
 ['2022-12-20' 17012.984375 16906.304688]
 ['2022-12-21' 16913.148438 16884.724609]]

<ipython-input-63-4552525d18f7>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Prediction_Days_Array = np.array(df.drop(['Prediction_Close'],1))[-Prediction_Days:]

In [66]:
#create and train the SVM using regration ,radial basis func.
svr_rbf = SVR(kernel='rbf', C=1e3, gamma=0.00000095)
svr_rbf.fit(x_train,y_train)

ValueError: ignored

In [ ]:
svr_rbf_testing = svr_rbf.score(x_test,y_test)
print("svr_rbf accuracy: ", svr_rbf_testing)

In [ ]:
svm_prediction = svr_rbf.predict(x_test)
print(svm_prediction)

print()

#print actual values
print(y_test)

In [ ]:
#print the moduel prediction for the next 'n' days
svm_prediction = svr_rbf.predict(Prediction_Days_Array)
print(svm_prediction)